{% extends "base.html" %}

{% block content %}
    <div class="hero">
        <h1>Добро пожаловать в MyStore!</h1>
        <p>Лучшие товары по лучшим ценам.</p>
        <a href="/products" class="btn">Перейти к покупкам</a>
    </div>
    <div class="categories">
    <h2>Категории</h2>
        <button class="cat-btn" data-id="1">Электроника</button>
        <button class="cat-btn" data-id="1">Аксессуары</button>
        <button class="cat-btn" data-id="1">Одежда</button>
    </div>
{% endblock %}